<mat-card class="card-outer">

    <div class="login-form-outer" fxLayout="column">
        <div class="login-form-inner">

            <div [formGroup]="frmStepLogin" fxLayout="column" class="login-form-inputs mat-elevation-z1">
                <h1>Log In with your Mist Account to configure your portal</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Mist Cloud</mat-label>
                    <mat-select formControlName="host">
                        <mat-option *ngFor="let host of hosts " [value]="host.value">
                            {{host.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="username" type="email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" (keydown.enter)="submitCredentials()" />
                </mat-form-field>
                <div style="margin-bottom: 1em; min-height: 20px;">
                    <span style="color:red; font-weight: normal; ">{{error_message}}</span>
                </div>
                <div></div>
                <button mat-raised-button color="primary" (click)="submitCredentials()">
                    Log In
                </button>
            </div>

            <div class="loading" fxLayout="row" *ngIf="loading">
                <div fxLayout="column">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </div>
    </div>

</mat-card>

<div *ngIf="show_github_fork_me" class="github-fork-me">
    <a class="github-fork-me" href="https://github.com/tmunzer/mist_claim_web_ui" target="_blank"><img loading="lazy" width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_red_aa0000.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
</div>